name: Build Documentation Site

on:
  workflow_dispatch:
  schedule:
  - cron: '0 2 * * *'
jobs:
  documentation:
    runs-on: ubuntu-latest
    steps:
      - name: Wait for actions to finish
        uses: softprops/turnstyle@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Checkout master branch
        uses: actions/checkout@v3
        with:
          ref: master
          path: master
      - name: Checkout dev branch
        uses: actions/checkout@v3
        with:
          ref: dev
          path: dev
      - name: Checkout gh-pages branch
        uses: actions/checkout@v3
        with:
          ref: gh-pages
          path: gh-pages
      - name: Setup .NET 7.0
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 7.x
      
      - run: dotnet tool update -g docfx
      
      - name: Build docs
        shell: pwsh
        run: |
          ./dev/pages/Build-Site.ps1
      - name: Add & Commit & Push
        uses: EndBug/add-and-commit@v6
        with:
          cwd: ./gh-pages
          branch: gh-pages
          push: true
          token: ${{ secrets.GITHUB_TOKEN }}
