name: Check Documentation Build

on:
  workflow_dispatch:
  pull_request:
    branches: [ dev ]
    paths:
      - 'documentation/**'
      - 'pages/**'
jobs:
  docfx:
    
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: master
          path: master
      - uses: actions/checkout@v3
        with:
          ref: dev
          path: dev
      - uses: actions/checkout@v3
        with:
          ref: gh-pages
          path: gh-pages
      - name : Install dependencies
        run: |
          wget https://github.com/dotnet/docfx/releases/download/v2.51/docfx.zip
          sudo unzip docfx.zip -d /usr/local/lib/docfx
          rm docfx.zip
          echo '#!/bin/sh' | sudo tee -a /usr/local/bin/docfx > /dev/null
          echo 'exec `which mono` $MONO_OPTIONS /usr/local/lib/docfx/docfx.exe "$@"' | sudo tee -a /usr/local/bin/docfx > /dev/null
          sudo chmod +x /usr/local/bin/docfx
      - name: Build docs
        shell: pwsh
        run: |
          ./dev/pages/Build-Site.ps1
